<div style="width: 50%; margin: auto">

    <h4 class="mb-3">Nuovo evento</h4>
    <hr class="my-4">
    
    <form class="row g-3" action="/events" method="post">
        
        <div class="col-md-6">
            <label for="materia" class="form-label">Materia</label>
            <input type="text" class="form-control" id="materia" name="materia" required>
        </div>

        <div class="col-md-3">
            <label for="aula" class="form-label">Aula</label>
            <select class="form-select" id="aula" name="aula" required>
            <option value="">Scegli...</option>
            <option>Magna</option>
            <option>A1</option>
            <option>A2</option>
            <option>A3</option>
            <option>M1</option>
            <option>M2</option>
            </select>
        </div>
    
        <div class="col-md-3">
            <label for="capienza" class="form-label">Capienza</label>
            <input type="number" class="form-control" id="capienza" name="capienza" required>
        </div>
        
        <div class="col-md-6" >
            <label for="data" class="form-label">Data</label>
            <input type="date" class="form-control" id="data" placeholder="gg/mm/aaaa" name="date" required>
        </div>

        <div class="col-md-3">
            <label for="startTime" class="form-label">Ora di inizio</label>
            <input type="text" class="form-control" id="startTime" name="startTime" required>
        </div>

        <div class="col-md-3">
            <label for="endTime" class="form-label">Ora di fine</label>
            <input type="text" class="form-control" id="endTime" name="endTime" required>
        </div>
        
        <div class="col-md-6">
            <label for="docente" class="form-label">Docente</label>
            <div class="input-group has-validation">
            <input type="text" class="form-control" id="docente" name="docente" required>
            </div>
        </div>

        <div class="col-md-6">
            <label for="contacts" class="form-label">Contatti</label>
            <input type="email" class="form-control" id="contacts" placeholder="docente@unimi.it" name="contacts" required>
        </div>
        
        <hr class="my-4">
        <div class="col-md-6">
            <a href="/events" class="w-100 btn btn-outline-primary btn-lg">Annulla</a>
        </div>
        <div class="col-md-6">
            <button class="w-100 btn btn-primary btn-lg" type="submit">Crea Evento</button>
        </div>
        
        
    </form>
</div>

