<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <img class=".img-fluid" src="/UnimiLogo.png" alt="Impossibile caricare il logo" height="90px">
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item"><a href="/events" class="nav-link active" aria-current="page">Lezioni</a></li>
          <li class="nav-item"><a href="/events/new" class="nav-link">Nuova Lezione</a></li>
          <li class="nav-item"><a href="/profile" class="nav-link">Profilo</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Esci</a></li>
        </ul>
      </header>
</div>